.sidebar {
  width: 250px;
  padding: 10px;
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar .label {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.sidebar .label:hover {
  background-color: #e0e0e0;
}

.sidebar .label.disabled {
  color: #b0b0b0;
  pointer-events: none;
}

.sidebar-page {
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #333;
}